<?xml version="1.0" encoding="UTF-8" ?>

<!-- scan: 当此属性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true。 -->
<!-- scanPeriod: 设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。 -->
<!-- debug: 当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="false" debug="false">

    <!-- 设置变量： 定义变量后，可以使“${}”来使用变量 -->
    <property name="LOG_HOME" value="D:/temp/logs/test" />
    <property name="appName" value="logbackdemo" />

    <!-- 设置上下文名称 -->
    <!-- 每个logger都关联到logger上下文，默认上下文名称为“default”。但可以使用<contextName>设置成其他名字，用于区分不同应用程序的记录。一旦设置，不能修改。 -->
    <contextName>${appName}</contextName>

    <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->

    <!-- appender：负责写日志的组件 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_HOME}/${appName}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_HOME}/${appName}-%d{yyyy-MM-dd}-%i.log.zip</FileNamePattern>
            <maxHistory>365</maxHistory>
            <TimeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <MaxFileSize>10MB</MaxFileSize>
            </TimeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 用来设置某一个包或者具体的某一个类的日志打印级别、以及指定<appender>。<loger>仅有一个name属性，一个可选的level和一个可选的addtivity属性。 -->
    <!-- name: 用来指定受此loger约束的某一个包或者具体的某一个类。 -->
    <!-- level：用来设置打印级别，大小写无关：TRACE, DEBUG, INFO, WARN, ERROR, ALL 和 OFF，还有一个特俗值INHERITED或者同义词NULL，代表强制执行上级的级别。如果未设置此属性，那么当前loger将会继承上级的级别。 -->
    <!-- addtivity：是否向上级loger传递打印信息。默认是true。 -->
    <logger name="com.chencye" level="INFO">
        <!-- 可以包含零个或多个<appender-ref>元素，标识这个appender将会添加到这个logger -->
        <appender-ref ref="rollingFile" />
    </logger>

    <logger name="org.springframework" level="warn" />
    <logger name="ch.qos.logback" level="warn" />

    <root level="info">
        <appender-ref ref="console" />
    </root>

</configuration>
