<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 开发启用Debug模式 -->
    <debug />

    <!-- 定义不需要权限控制的资源 -->
    <http pattern="/resources/**" security="none" />
    <http pattern="/" security="none" />

    <!-- 权限控制 -->
    <!-- entry-point-ref登录入口 -->
    <!-- authentication-manager-ref登录认证管理器 -->
    <http use-expressions="true" entry-point-ref="authenticationEntryPoint" authentication-manager-ref="authenticationManager">

        <!-- isAuthenticated(): Returns true if the user is not anonymous -->
        <intercept-url pattern="/**" access="isAuthenticated()" />

        <!-- permitAll: Always evaluates to true. 所有地址全开，无需验证，测试用。需要设置http属性use-expressions="true" -->
        <!-- <intercept-url pattern="/**" access="permitAll" /> -->

        <!-- 注销入口 -->
        <logout logout-url="/logout" logout-success-url="/" delete-cookies="JSESSIONID" invalidate-session="true" />

        <!-- 启用CSRF过滤器 -->
        <!-- <csrf /> -->

        <!-- 使用自定义的表单认证过滤器 -->
        <custom-filter ref="authenticationFilter" position="FORM_LOGIN_FILTER" />

        <!-- 实现免登陆验证 -->
        <remember-me />

    </http>

    <!-- 登录入口 -->
    <beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
        <beans:property name="loginFormUrl" value="/" />
        <beans:property name="forceHttps" value="false" />
    </beans:bean>

    <!-- 配置自定义的支持验证码等多功能过滤器 -->
    <beans:bean id="authenticationFilter" class="com.chencye.security.support.ValidateCodeUsernamePasswordAuthenticationFilter"
        init-method="init">
        <beans:property name="usernameParameter" value="username" />
        <beans:property name="passwordParameter" value="password" />
        <beans:property name="checkValidateCode" value="false" />
        <beans:property name="validateCodeParameter" value="verifyCode" />
        <beans:property name="validateCodeSessionName" value="verifyCode" />
        <beans:property name="processUrl" value="/login" />
        <beans:property name="httpMethod" value="POST" />
        <beans:property name="successUrl" value="/loginSuccess" />
        <beans:property name="failureUrl" value="/loginFailure" />
        <beans:property name="authenticationManager" ref="authenticationManager" />
    </beans:bean>

    <!-- 权限管理器 -->
    <authentication-manager id="authenticationManager">
        <authentication-provider user-service-ref="myUserDetailsService">
            <!-- <password-encoder ref="bcryptEncoder" /> -->
        </authentication-provider>
    </authentication-manager>

    <!-- 自定义的权限查询服务 -->
    <beans:bean name="myUserDetailsService" class="com.chencye.security.support.MyUserDetailsService" />

    <beans:bean name="bcryptEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" />

</beans:beans>